.upbtn {
    --offset: 1vw;


    bottom: var(--offset);
    right: var(--offset);
    position: fixed;
    z-index: 2;
    
    
    width: clamp(2rem , 3%, 3%);
    aspect-ratio: 1;
    background-color: #FF8C00;
    display: flex;
    justify-content: center;
    
    user-select: none;
    
    opacity: 0.4;
    transition: all 0.4s ease-in-out;
}

.upbtn:hover{
    opacity: 1;
    scale: 1.1;
}

.upbtn__img{
    border-radius: 0;
    
    aspect-ratio: 1;
    height: 80%;
    
    align-self: center;
}