
.project__card {
    background-image: url(../../img/protoTexturesPng/Orange/texture_03.png);
    background-size: 50%;
        
    box-shadow: rgb(167, 75, 75);
    border-radius: 10px;
    
    aspect-ratio: 4/3;
    overflow: hidden;
}

.project__card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 3px;
    
    position: relative;
    user-select: none;
    height: 100%;
}

.project__title {
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    
    padding: 2rem;
    text-align: center;
    
    
    word-break: break-word;
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(1rem, 1rem + 0.7005vw, 2.5rem);
    color: black;
}


.project__card-img {
    height: 100%;
    
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease;
}

.project__card-title {
    color: aliceblue;
    padding-bottom: 10px;
}

.project__card-item:hover .project__card-img {
    opacity: 1;
}
.project__card-item:hover .project__title {
    opacity: 0;
}

/*
@media only screen and (min-width: 1797px){
    .project__card-item {
        width: 800px;
    }
}
@media only screen and (min-width: 1440px){
    .project__card-item {
        width: 640px;
    }
}*/
