@font-face {
    font-family: OstrichSans;
    src: url(../fonts/OstrichSans-Heavy.otf);
}



* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* RESET */

/*#region reset */

body {
    margin: 0;
    background-color: #252525;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
p {
    margin: 0;
    padding: 0;
}

/*#endregion */

/*#region projects */

#section {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.projects__title {
    font-size: 60px;
    color: #FFFCF2;
    padding-bottom: 2rem;
}

.projects__container {
    
}

.projects {
    display: grid;
    justify-content: center;
    gap: 10px;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 0 100px;
    width: 100%;
}



/*#endregion */

.navbar {
    font-family: 'Bebas Neue', sans-serif;
}

.header__info {
    font-family: 'Bebas Neue', sans-serif;
}

.footer {
    font-family: 'Bebas Neue', sans-serif;
}

.about {
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    font-family: 'Bebas Neue', sans-serif;
}

.container_project {
    height: 100vh;
    margin: 20px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.project-main {
    margin: 0 35px;
    padding: 50px 0;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
}

.project-main-btns_with_info {
    display: flex;
}

.project-main-details {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 40px;
    row-gap: 40px;
	align-items: center;
	text-align: center;
}

.main-info-list {
    grid-column: span 4;
    padding: 10px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    background-color: #353535;
    border-radius: 10px;
    color: #FFFCF2;

}


.main-info-list li {
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    list-style: inside;
}

.project-main-buttons {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-between;
    width: 100%;
    height: 100%
}

.project-main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #353535;
    border-radius: 10px;
    color: #FFFCF2;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    height: 100%
}

.project-main-images {
    grid-column: span 6;
    grid-row: 2;
    display: flex; /* Добавление display: flex; */
    align-items: center; /* Добавление выравнивания по центру */
    justify-content: center; /* Добавление выравнивания по центру */
}

.descr-text{
    word-break: break-word;
}


.project-main-descr-card {
    margin: 0 0 40px 0 ;
    text-align: left;
    font-family: 'Space Grotesk', monospace;
}
.project-main-descriptions {
    color: #FFFCF2;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
   
}
.project-main-descriptions h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    text-align: left;
    margin-bottom: 10px;
}

.descr-card-img {
    aspect-ratio: 16/9;
}

.descr-card-img img {
    border-radius: 10px;
    box-shadow: 18px 18px 26px 6px rgba(34,60,80,.2);
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.test {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
    top: -3px;
}


.container-img {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}



.title-img-main {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.descr-text a{
  color: #44ffaa;
}

.descr-text ol{
    padding-left: 1.2em;
    display: flex;
    row-gap: 14px;
    flex-direction: column;
}


/* MEDIA */

/*#region media */

/*
@media only screen and (max-width: 1070px) {
    .container_project {
        height: auto;
    }

    .project-main {
        row-gap: 80px;
    }
}


@media only screen and (max-width: 910px) {
    
    .projects > :last-child {
        grid-column: auto;
    }
}


@media only screen and (max-width: 768px){
  .projects {
    grid-template-columns: repeat(1, 1fr);
}
    .project-main-descr-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 470px){
    .descr-card-img {
        width: 330px;
        height: 200px;
    }
}
@media only screen and (max-width: 350px){
    .descr-card-img {
        width: 280px;
        height: 170px;
    }
}*/
/*#endregion */


/* ARROW */

/*#region arrow */

.arrow__container {
    display: flex;
    cursor: pointer;
}

.arrow__container .arrows {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}
.arrow__container .arrows:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 26.6666666667px solid rgba(237, 236, 236, 0.7);
  border-bottom: 26.6666666667px solid rgba(237, 236, 236, 0.7);
  transform: translate(26.6666666667px, 106.6666666667px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
.arrow__container .arrows:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 26.6666666667px solid rgba(237, 236, 236, 0.5);
  border-bottom: 26.6666666667px solid rgba(237, 236, 236, 0.5);
  transform: translate(53.3333333333px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
    transform: translate(-13.3333333333px, -53.3333333333px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
  }
  50% {
    border-left: 26.6666666667px solid rgba(237, 236, 236, 0.5);
    border-bottom: 26.6666666667px solid rgba(237, 236, 236, 0.5);
    transform: translate(-13.3333333333px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
    transform: translate(-13.3333333333px, 53.3333333333px) rotate(-45deg);
  }
}
/*#endregion */