#portfolio {
    font-family: 'Bebas Neue', sans-serif;
    
    background-image: url("../img/protoTexturesPng/Dark/texture_08.png");
    background-size: 30%;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

.portfolio__best{
    display: grid;
    justify-content: center;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, clamp(300px, 25vw, 1000px));
    padding: 0 40px;
    width: 100%;

    margin-bottom: 2rem;
}
.portfolio__cards {
    display: grid;
    justify-content: center;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, clamp(300px, 25vw, 1000px));
    padding: 0 40px;
    width: 100%;

    margin-bottom: 2rem;
}