.project__cover {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.project__cover-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project__back-button{
    position: absolute;
    width: 8%;
    height: 4%;
    left: 1.4%;
    top: 2%;

    z-index: 1000;

    background-color: var(--orange);
    text-align: center;
    font-family: "JetBrains Mono", serif;
    font-weight: 900;
    color: black;
    font-size: 1.5rem;
}
:root{
    --project-gap: 3rem;
}


/*BODY*/
.project__body {
    padding: 5vh 4vw;
    height: 100vh;
    overflow: hidden;
    
    background-image: url("../img/protoTexturesPng/Dark/texture_08.png");
    background-size: 20%;


    display: grid;
    grid-template-columns: 40% 1fr;
    align-content: stretch;
    gap: 9rem;
}
.project__left-container {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project__right--container {    
    display: grid;
    grid-template-areas: 
        "contributions details"
        "text             text";
    
    grid-auto-rows: min-content;
    gap: 2rem;

    width: 100%;
}


/* DETAILS */
.project__details {
    width: 100%;
    grid-area: details;

    height: min-content;

    text-align: left;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 1px;
    grid-template-rows: repeat(7, auto);

    list-style-type: disc;
    list-style-position: inside;

    font-size: clamp(0.6rem, 0.2rem + 0.7vw, 3rem);
}
.project__details h2{
    text-align: center;
    
    font-weight: 900;
    user-select: none;

    font-size: clamp(1.2rem, 0.2rem + 1.5vw, 5rem);
    margin-bottom: 1rem;
}
.project__icon{
    position: absolute;
    opacity: 0;

    height: 80%;
    width: 80%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*TEXT*/
.project__text-container{
    max-height: 50vh;
    
    grid-area: text;

    display: grid;
    grid-template-areas: 
        "description description"
        "problems solutions";
    
    gap: 2rem;
        
    width: 100%;
}
.project__info{
    overflow: hidden;
    grid-area: description;

    background-color: var(--purple);
}
.project__problems {
    grid-area: problems;
    overflow: hidden;
    list-style: inside;
    
    height: min-content;
    
    background-color: var(--purple);
}
.project__solutions{
    grid-area: solutions;
    overflow: hidden;
    list-style: inside;

    background-color: var(--purple);
}

.project__text{
    color: white;
    text-align: left;
}
.project__text a{
    color: var(--orange);
    font-weight: 700;
}
.project__text h2{
    text-align: center;
    margin-bottom: 1rem;
}



/*IMAGE*/
.project__images {
    aspect-ratio: 16/9;    
    grid-area: image;
    overflow: hidden;
}
.project__images img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (orientation: portrait) {
    .project__body {
        height: auto;
        min-height: 100vh;
        grid-template-columns: 1fr;
    }
    
    .project__left-container{
        grid-template-areas: 
        "details"
        "buttons"
        "image";

        gap: calc(var(--project-gap) * 0.5);

        grid-template-columns: 1fr;
        grid-template-rows: .8fr .8fr 1fr;
    }
    .project__buttons-container{
        row-gap: calc(var(--project-gap) * 0.5);
    }

    .project__back-button{
        width: 20%;

        left: 3.8%;
    }
}