#section {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}


.project-list {
    display: grid;
    justify-content: center;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, clamp(300px, 25vw, 1000px));
    padding: 0 40px;
    width: 100%;
}