.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem 0;
}
.about__container {
    
    background-color: #FF8C00; 
    
    padding: 20px;
                
    width: clamp(350px, 30%, 500px);
    overflow: hidden;    
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.about__info {
    padding: 15px;
    color: #FFFCF2;
}
.about__title {
    font-size: clamp(2rem, 2.7706vw, 8rem);
    color: black;
}
.about__text {
    
    color: black;
    font-size: clamp(1rem, 1.3vw, 4rem);
    
    text-align: left;
    
    
    font-family: "Space Grotesk", sans-serif;
}

.about__download{
    background-color: black;
    background-size: 30%;
    
    color: #FF8C00;
        
    margin-top: 1rem;
    padding: 10px;
    font-size: 2rem;
    
    transition: all 0.4s ease-in-out;
        
    transform:  translateZ(0);
    backface-visibility: hidden;    
}

.about__download:hover{
    transform: scale(1.1);
}