@font-face {
    font-family: bitArcade;
    src: url(../../fonts/VCR_OSD_MONO_1.001.ttf);
}



.header__container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}



.header__info {
    display: flex;
    flex: 1;
    justify-content: left;
    align-content: end;
    flex-wrap: wrap;

    background-color: #252525;
    background-image: url(../../img/protoTexturesPng/Dark/texture_08.png);
    background-size: 30%;
}
.header__info-container {
    height: fit-content;
    margin-left: 16%;
    margin-bottom: 4%;
    
}
.header__info-name {
    font-size: clamp(4rem, 0.4rem + 5.1372vw, 15rem);    
    line-height: 100%;
    color: #FFFCF2;
    text-shadow: 7px 1px 9px rgba(40,17,11,0.68);
    user-select: none;
}

.header__info-role{
    color: rgb(166, 168, 170);
    font-size: clamp(1rem, 0.8187rem + 0.7005vw, 2.5rem);
    text-shadow: 7px 1px 9px rgba(40,17,11,0.68);
}

/* DOOMBAR */


.header__doombar {      
    display: flex;
    width: 100%;
    height: clamp(9.375rem, 2rem + 13.1349vw, 37.5rem);
}
.header__doombar-list {
    background-image: url(../../img/protoTexturesPng/Orange/texture_01.png);
    background-size: clamp(20rem, 15.1664rem + 18.6807vw, 60rem);
    width: 100%;
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
}

.doombar-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgba(161, 158, 158, 0.574);
}
.list-main-num {
    font-size: 6vw;
    color: rgba(202, 59, 59, 0.973);
}
.list-main-text {
    font-size: 3vw;
    color: rgb(182, 180, 180);
}