.footer {
	margin-top: auto;
	padding: 15px 0 15px;
	background-image: url("../../img/protoTexturesPng/Dark/texture_08.png");
	background-size: 5%;
    color: aliceblue;
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}
.footer__icon{
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(61deg) brightness(103%) contrast(101%);
	user-select: none;
	
	transition: scale 0.3s ease-in-out;
}
.footer__icon:hover{	
	filter: invert(48%) sepia(88%) saturate(1018%) hue-rotate(1deg) brightness(105%) contrast(103%);
	scale: 1.2;
}

.copyright {
	font-size: 1rem;
	margin: 0.5rem;
	font-family: "Space grotesk", sans-serif;
}
.copyright a {
	color: #FFFCF2;
}

.copyright:hover{
	filter: invert(48%) sepia(88%) saturate(1018%) hue-rotate(1deg) brightness(105%) contrast(103%);
	
	font-weight: bold;
}